
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: black;
    background-image:url("./images/background.jpg");
    background-size: 100%;
}
image{
    margin:0px;
}
.container{
    /* border: 2px solid #001F61; */
    margin-top:10px;
     background:#FFFFFF; 
    border-radius: 40px;
    width:100%;
    max-width:800px;
    padding:0px;
    opacity: 80%; 
    
}

p{
    font-size:120%;
}
h3{
    font-size: 120%;
}
.container1{
    /* background-color: rgb(151, 95, 22); */
    display:flex;
     align-items: center; 
     color:white;
    justify-content: center;
    border-radius: 40px 40px 0 0;
    height:400px;
    background-size:cover;
  background-image:url("./images/container1.jpg");
 
  
  
}



.card{
   
     /* background:#000000d0;  */
    color:white;
  text-align:center;
  padding:1em;
  margin:0px;
  
width:100%;
max-width:800px;
/* margin:1em; */
margin-top:1.2em;
}

.search{
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:0;

}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0.5em;
    /* padding:0.2em; */
    border-radius:50%;
    background:#7c7c7c2b;
    border:none;
    height:2.5em;
    width:2.5em;
    cursor:pointer;
    transition: 0.2s ease-in-out;
}

.city{
    font-size:1.5em;
    margin-top:10px;
    letter-spacing: 3px;
    margin-bottom:0px;
}

.temp{
    font-size:3.2em;
    margin-top:0px;
}

.degree{
    font-size:0.8em;
}
.btn:hover{
    background:#7c7c7c6b;
}

.search-Bar{
    text-align: center;
    padding:0.4em;
    padding-left:20px;
    outline:none;
    border:none;
    border-radius:25px;
    background:#7c7c7c2b;
    font-family:inherit;
    color:white;
    max-width:400px;
    font-size:120%;
    width:100%;
}
.time{
    font-size:150%;
    font-weight: 500;
}

.Odetails{
    float:left;
    margin-left:0px;
    text-align:left;
}
.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.row2{
   padding-bottom: 20px;
}

.small-box{
    background:#000000d0;
    height:130px;
    width:210px;
    border-radius:15px;
    text-align: center;
    /* margin-left:15px;
    margin-right:15px; */
    margin-top:20px;
    color:white;
    /* background-color: brown;*/
} 

/* .box5{
 width:220px;
}

.box2{
    width:210px;
 } */




 
  
/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	line-height: 0;
	height: auto;
	padding: 0;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-family: 'Muli';
	font-size: 18px;
	line-height: 20px;
	height: auto;
	padding: 12px 20px;
	position: fixed;
	bottom: 30px;
	right: 20px;
    /* width:160px; */
	z-index: 999;
	text-transform: none;
}

button.floating-btn:focus {
	color: white;
	outline: none;
}

button.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}


/* //media query */

@media only screen and (max-width: 860px) and (min-width:700px) {
    /* For mobile phones: */
   .container{
  margin-top:50px;
  margin-left:30px;
   }
  
   
  } 

  @media only screen and  (max-width:700px) and (min-width:500px) {
    /* For mobile phones: */
   .container{
  margin-top:200px;
  margin-left:30px;
   }
   /* .small-box{
    width:350px;
   } */
   
  } 

  @media only screen and (max-width:500px){
    /* For mobile phones: */

   .container{
  margin-top:700px;
  margin-left:30px;
  
   }
    
   
  }  

  /* */ 